/* ________________________________ALL__________________________________ */
/* ________________________________ALL__________________________________ */
/* ________________________________ALL__________________________________ */
html,
body {
  color: #424551;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: #0000009b;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
}

.button {
  display: inline-block;
  line-height: 52px;
  padding: 0 40px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button--gradient {
  display: inline-block;
  line-height: 52px;
  padding: 0 40px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.button--gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(56deg, #ff3f3a, #f75e05);
  border-radius: 4px;
  padding: 2px;
  box-sizing: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.button--gradient:hover {
  transform: scale(1.05);
}

.heading {
  display: flex;
  flex-direction: column;
}

.main__about {
  padding: 180px 0 160px;
}

.main__direction {
  padding: 0 0 178px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  background: url("../IMG/decor/team.svg") calc(50% + 116px) calc(50% + -130px) no-repeat,
    #f4f5f6;
  padding-bottom: 180px;
}

.main__testimonials {
  padding-bottom: 250px;
}

.main__company {
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 185px 0;
}

.main__blog {
  padding-bottom: 210px;
}

.main__contact {
  padding-bottom: 180px;
}

.main__questions {
  padding-bottom: 180px;
}

.footer {
  background-color: #1E212C;
}

/* ________________________________HEADER__________________________________ */
/* ________________________________HEADER__________________________________ */
/* ________________________________HEADER__________________________________ */
.header {
  background: url("../IMG/decor/decor_1.svg") -50% 50% / cover no-repeat,
    linear-gradient(56deg, rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__body {
  height: 100%;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__top-inner {
  display: flex;
  align-content: center;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-link {
  transition: 0.3s;
}

.header__nav-link:hover {
  color: #ff3f3a;
}

.header__user-nav {
  display: flex;
  align-items: center;
}

.header__user-btn {
  margin-right: 36px;
  margin-left: 15px;
}

.header__user-aunt {
  position: relative;
  padding-left: 28px;
}

.header__user-aunt::before {
  content: "";
  background: url("../IMG/icon/person.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.button__user-aunt {
  transition: 0.3s;
}

.button__user-aunt:hover {
  color: #ff3f3a;
}

.header__main {
  margin: auto 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content-inner {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  color: #1e212c;
  line-height: 150%;
  font-size: 14px;
}

.header__svg-play {
  border-radius: 50%;
  margin-right: 16px;
  transition: 0.3s;
}

.header__svg-play:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
  color: #1e212c;
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  width: 500px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0px;
}

.header__row {
  margin-bottom: 80px;
}

.header__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.header__row-list>span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
  margin: 0 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  color: #1e212c;
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-right: 12px;
}

/* ________________________________ABOUT__________________________________ */
/* ________________________________ABOUT__________________________________ */
/* ________________________________ABOUT__________________________________ */
.about__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 160px;
}

.about__createx {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -103px;
  right: -631px;
  width: 100px;
  height: 80px;
  background: url("../IMG/decor/about_us1.svg") top right / 100px 80px no-repeat;
}

.about__heading {
  margin-bottom: 48px;
}

.about__uptitle {
  color: #1e212c;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about__title {
  color: #1e212c;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
}

.about__content {
  width: 600px;
}

.about__text {
  font-weight: 400;
  margin-bottom: 60px;
}

.about__text--accent {
  color: #1e212c;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
}

.about__content-buttons {
  display: flex;
}

.about__content-btn {
  margin-right: 24px;
}

.about__content-btn:last-child {
  margin-right: 0%;
}

.about__img {
  margin-left: 30px;
}

.about__values {
  display: flex;

  justify-content: space-between;
}

.about__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.about__numbers {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-self: center;
}

.about__numbers-inner {
  display: flex;
  align-items: center;
  color: #1e212c;
  font-size: 18px;
  line-height: 150%;
  margin-left: 30px;
}

.about__numbers-inner>span {
  color: #ff3f3a;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 16px;
}

/* ________________________________DIRECTION__________________________________ */
/* ________________________________DIRECTION__________________________________ */
/* ________________________________DIRECTION__________________________________ */

.direction__inner {
  position: relative;
}

.direction__inner::before {
  content: "";
  position: absolute;
  top: 456px;
  right: -290px;
  width: 243px;
  height: 243px;
  background: url("../IMG/decor/direction_2.svg");
  opacity: 0.2;
}

.direction__inner::after {
  content: "";
  position: absolute;
  top: 41px;
  left: -163.1px;
  width: 136px;
  height: 115px;
  background: url("../IMG/decor/direction_1.svg");
}

.direction__heading {
  margin-bottom: 90px;
}

.heading__uptitle {
  color: #1e212c;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  color: #1e212c;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
}

.heading--center {
  justify-content: center;
  align-items: center;
}

.direction__filter-box {
  margin-bottom: 48px;
}

.direction__filter-btn {
  font-family: lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-right: 45px;
  color: #9a9ca5;
  background-color: transparent;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  padding: 1px 8px;
  align-items: center;
}

.direction__filter-btn:last-child {
  margin-right: 0;
}

.direction__filter-btn--active {
  border: none;
  color: #fff;
  padding: 2px 8px;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
}

.directions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: stretch;
  gap: 30px;
  /* max-width: 390px; */
}

.directions__list-item {
  display: flex;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  border-top: none;
}

.directions__list-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: 0.3s;
}

.directions__list-item:hover .direction__link-btn {
  color: #ff3f3a;
  transition: 0.3s;
}

.direction__link-content {
  display: flex;
  flex-direction: column;
}

.direction__img-box img {
  height: 100%;
  width: 100%;
}

.direction__link-teg {
  color: #fff;
  align-self: flex-start;
  width: fit-content;
  padding: 1px 8px;
  border-radius: 4px;
  margin: 24px auto 20px 24px;
}

.direction__link-text {
  color: #787a80;
  font-weight: 400;
  margin: 0 24px 24px 24px;
}

.direction__link-btn {
  margin: 0 auto 20px 24px;
  transition: 1s;
}

.direction__link-btn::after {
  content: "";
  background: url("../IMG/icon/Line_to_right_red.svg") 0 0 / 100% no-repeat;
  width: 18px;
  height: 12px;
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
}

.directions__list-item-empty {
  background-color: #f4f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions__list-item-empty span {
  color: #424551;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  max-width: 250px;
}

.Marketing .direction__link-teg {
  background-color: #03cea4;
}

.Management .direction__link-teg {
  background-color: #5a87fc;
}

.HR .direction__link-teg {
  background-color: #f89828;
}

.Design .direction__link-teg {
  background-color: #f52f6e;
}

.Development .direction__link-teg {
  background-color: #7772f1;
}

/* _________________________________CERT_________________________________ */
/* _________________________________CERT_________________________________ */
/* _________________________________CERT_________________________________ */

.cert__inner {
  display: flex;
  justify-content: space-between;
}

.cert__content {
  width: 400px;
  margin-right: 30px;
  position: relative;
}

.cert__content::before {
  content: "";
  background: url("../IMG/decor/certificate1.svg");
  top: -20px;
  left: -140px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  font-weight: 400;
  margin-bottom: 32px;
}

.cert__list {
  display: flex;
  flex-direction: row;
}

.cert__list-item {
  margin-right: 40px;
}

.cert__list-item:last-child {
  margin-right: 0;
}

.cert__img-box img {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

/* _________________________________TEAM_________________________________ */
/* _________________________________TEAM_________________________________ */
/* _________________________________TEAM_________________________________ */

.team__heading {
  position: relative;
  padding: 165px 0 0 0;
  margin-bottom: 60px;
}

.team__slide-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.team__slide-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: background-color 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.team__slide-arrow svg path {
  transition: fill 0.3s;
}

.team__slide-arrow:hover {
  background-color: #ff3f3a;
}

.team__slide-arrow:hover svg path {
  fill: #fff;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slider-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.team__slider-box:hover .team__socials {
  transform: translateY(0);
}

.team__img-box {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  overflow: hidden;
}

.team__image img {
  width: 100%;
}

.team__socials {
  display: flex;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: end;
  align-items: flex-end;
  line-height: 100%;
  background: linear-gradient(180deg,
      rgba(30, 33, 44, 0) 43.9%,
      rgba(30, 33, 44, 0.03) 55.21%,
      rgba(30, 33, 44, 0.33) 68.73%,
      rgba(30, 33, 44, 0.56) 76.17%,
      rgba(30, 33, 44, 0.77) 83.75%,
      rgba(30, 33, 44, 0.92) 91.49%,
      #1e212c 100%);
  transform: translateY(50%);
  transition: all 0.3s;
}

.team__socials-item {
  margin-right: 13px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link svg {
  width: 20px;
  height: 20px;
}

.team__socials-link svg path {
  transition: all 0.3s;
}

.team__socials-link:hover svg path {
  fill: #fff;
}

.team__info-name {
  font-size: 20px;
  line-height: 150%;
}

.team__info-position {
  color: #787a80;
  font-weight: 400;
  line-height: 160%;
}

/* _________________________________TESTIMONIALS_________________________________ */
/* _________________________________TESTIMONIALS_________________________________ */
/* _________________________________TESTIMONIALS_________________________________ */

.testimonials {
  background: #f4f5f6;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  background: url("../IMG/decor/testimonials.svg") 0 0 / 100% no-repeat;
  transform: translate(-45.5%, -60%);
  width: 1971px;
  height: 816px;
}

.testimonials-inner {
  position: relative;
}

.test {
  display: flex;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-inner {
  margin: 0 auto;
  position: relative;
}

.testimonials__slide-arrow {
  position: absolute;
  display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.testimonials__slide-arrow:hover {
  background-color: #ff3f3a;
}

.testimonials__slide-arrow svg path {
  transition: fill 0.3s;
}

.testimonials__slide-arrow:hover svg path {
  fill: #fff;
}

.testimonials__slide-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.testimonials__slide-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.testimonials__slider {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 105px;
}

.testimonials__slide {
  padding: 0 105px;
}

.wrapper__slide-content {
  display: flex;
  max-width: 810px;
  margin: 64px 0;
}

.testimonials__quotes-box {
  margin-right: 30px;
}

.testimonials__slide-content {
  display: flex;
  flex-direction: column;
}

.testimonials__slide-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 15px;
}

.testimonials__slide-author {
  display: flex;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info-aithor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__info-name {
  color: #1e212c;
  margin-bottom: 4px;
}

.testimonials__info-position {
  color: #787a80;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.testimonials__slide-dots {
  text-align: center;
  margin-top: 30px;
}

.testimonials__slide-dots li {
  display: inline-block;
  margin: 0 6px;
}

.testimonials__slide-dots li button {
  padding: 30px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.testimonials__slide-dots li button::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #b3b7bc;
  border-radius: 3px;
  margin: auto;
}

.testimonials__slide-dots li.slick-active button::before {
  background-color: #424551;
}

/* _________________________________COMPANY_________________________________ */
/* _________________________________COMPANY_________________________________ */
/* _________________________________COMPANY_________________________________ */

.company {
  background: #f4f5f6;
}

.company__inner {
  position: relative;
}

.company__inner::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: -250px;
  height: 90px;
  width: 90px;
  background: url("../IMG/decor/company.svg");
}

.company__heading {
  margin-bottom: 60px;
}

.company__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 64px);
  gap: 40px 106px;
}

.company__link {
  display: block;
}

.company__link img {
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 0.3s;
}

.company__link:hover img {
  filter: grayscale(0);
  opacity: 1;
}

/* _________________________________PROGRAM_________________________________ */
/* _________________________________PROGRAM_________________________________ */
/* _________________________________PROGRAM_________________________________ */

.program__inner {
  display: flex;
  justify-content: space-between;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc-item {
  margin-left: 40px;
  max-width: 600px;
  margin-right: 30px;
  margin-bottom: 24px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc__link {
  display: block;
  padding-left: 40px;
}

.program__acc__head {
  color: #1e212c;
  font-size: 20px;
  line-height: 150%;
  position: relative;
}

.program__acc__head>span {
  color: #ff3f3a;
  margin-right: 8px;
}

.program__acc__head::after,
.program__acc__head::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  height: 2px;
  width: 20px;
  background-color: #ff3f3a;
  border-radius: 2px;
}

.program__acc__head::after {
  transform: rotateZ(90deg);
  transition: all 0.3s;
}

.program__acc__link--active .program__acc__head::after {
  transform: rotateZ(0deg);
}

.program__acc-text {
  margin-top: 16px;
  color: #424551;
  font-weight: 400;
}

.program__acc__link--active .program__acc-text {
  display: block;
}


/* _________________________________BLOG_________________________________ */
/* _________________________________BLOG_________________________________ */
/* _________________________________BLOG_________________________________ */

.blog__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: end;
}

.blog__user-btn {
  max-height: 52px;
}

.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.blog__list-item {
  width: 390px;
  overflow: hidden;
  margin-right: 30px;
  position: relative;
  background-repeat: 4px;
}

.blog__list-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: 0.3s;
}

.blog__list-item:last-child {
  margin-right: 0;
}

.blog__img-box {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.blog__img-box img {
  width: 100%;
}

.blog__info-list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.blog__info-list>span {
  margin: 0 12px;
  height: 12px;
  width: 2px;
  background-color: #787a80;
  border-radius: 2px;
}

.blog__info-item {
  color: #787a80;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.blog__info-item svg {
  margin-right: 9px;
}

.blog__item-name {
  color: #1e212c;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}

.blog__item-text {
  font-weight: 400;
  margin-bottom: 16px;
}

.blog__link-btn {
  color: #1e212c;
  transition: all 0.3s;
}

.blog__link:hover .blog__link-btn {
  color: #ff3f3a;
}

.blog__link-btn::after {
  content: "";
  background: url("../IMG/icon/Line_to_right_red.svg") 0 0 / 100% no-repeat;
  width: 18px;
  height: 12px;
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
}

.blog__content-type {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 150%;
  padding: 1px 8px;
  border-radius: 4px;
  background-color: #fff;
  margin: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog__content-type svg {
  margin-right: 4px;
}

/* _________________________________CONTACT_________________________________ */
/* _________________________________CONTACT_________________________________ */
/* _________________________________CONTACT_________________________________ */

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contact__content {
  margin-right: 30px;
}

.contact__heading {
  margin-bottom: 40px;
}

.contact__list-contact {
  margin-bottom: 48px;
}

.contact__list-item {
  margin-bottom: 24px;
  margin-left: 32px;
  position: relative;
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.contact__list-item:last-child {
  margin-bottom: 0;
}

.contact__list-type {
  color: #787A80;
  font-size: 14px;
  line-height: 150%;
}

.contact__list-email::after {
  content: "";
  background: url("../IMG/icon/Chat.svg");
  width: 24px;
  height: 24px;
  top: 0;
  left: -34px;
  position: absolute;
  margin: 2px;
}

.contact__list-tel::after {
  content: "";
  background: url("../IMG/icon/iPhone.svg");
  width: 24px;
  height: 24px;
  top: 0;
  left: -34px;
  position: absolute;
  margin: 2px;
}

.contact__list--hover {
  transition: all .3s;
}

.contact__list--hover:hover {
  color: #ff3f3a;
}

.contact__list-address::after {
  content: "";
  background: url("../IMG/icon/outline.svg");
  width: 24px;
  height: 24px;
  top: 0;
  left: -34px;
  position: absolute;
  margin: 2px;
}

.contact__social-heading {
  margin-bottom: 24px;
  color: #1E212C;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact__social-list {
  display: flex;
}

.contact__social-item {
  margin-right: 32px;
}

.contact__social-item>a {
  display: block;
}

.contact__social-item:last-child {
  margin-right: 0;
}

.contact__social-item a path {
  transition: all .3s;
}

.contact__social-item:hover a path {
  fill: #000000;
}

.contact__map-box {
  height: 410px;
  max-width: 705px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 80px 80px -20px #9a9ca514, 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

/* _________________________________QUESTIONS_________________________________ */
/* _________________________________QUESTIONS_________________________________ */
/* _________________________________QUESTIONS_________________________________ */


.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__img-box {
  margin-left: -20px;
}

.questions__content {
  margin-left: 30px;
}

.questions__heading {
  margin-bottom: 40px;
}


.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}

.questions__form-row:last-child {
  margin-bottom: 0;
}

.questions__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.questions__form-label:last-child {
  margin-right: 0;
}

.questions__form-input {
  display: block;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
  color: #9A9CA5;
  font-weight: 400;
  line-height: 160%;
}

.questions__form-text {
  display: block;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  height: 128px;
  resize: none;
  margin-top: 8px;
}

.questions__form-sending {
  margin-top: 48px;
}

.questions__checkbox-label {
  display: flex;
  font-weight: 400;
  line-height: 160%;
  min-width: 287px;
}

.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 5px 17px 0 0;
  display: block;
}

.questions__form-deafuldt {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

}

.questions__form-deafuldt:checked+.questions__form-castom {
  background: url("../IMG/icon/check.svg") 50% 50% no-repeat #ff3f3a;
  border: 1px solid #ff3f3a;
}

.questions__form-castom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.questions__user-btn {
  display: block;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 52px;
  align-self: center;
  padding: 0;
  margin-left: 50px;
}

/* _________________________________FOOTER_________________________________ */
/* _________________________________FOOTER_________________________________ */
/* _________________________________FOOTER_________________________________ */

.footer__top {
  padding: 80px 0 60px 0;


}

.footer__top-inner {
  display: flex;
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
}

.footer__top-colum {
  max-width: 330px;
  padding: 0 15px;
}

.footer__top-colum:last-child .footer__list-title {
  text-wrap: wrap;
}

.footer__logo-link {
  display: block;
  margin-bottom: 25px;
}

.footer__text {
  margin-bottom: 38px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;

}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  margin-right: 20px;
  transition: all .3s;
}

.footer__social-item:hover a svg g {
  opacity: 1;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__list-link {
  display: block;

}

.footer__list-link:hover {
  opacity: 1;
}

.footer__list-title {
  margin-bottom: 12px;
  text-wrap: nowrap;
  color: #FFF;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__list {
  font-size: 16px;
  font-weight: 400;

}


.footer__list-item {
  margin-bottom: 8px;
  text-wrap: nowrap;
  align-items: center;
  opacity: 0.6;
  color: #fff;
  transition: all .3s;
}

.footer__list-item:hover {
  opacity: 1;
}

.footer__list-item svg {
  margin: auto 5px auto 0;

}

.footer__input-form {
  display: flex;
  flex-direction: column;
}

.footer__input-wrapper {
  position: relative;
}

.footer__lable-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
}

.footer__input-email {
  margin: 12px 0;
  border: 1px solid #ffffff33;
  background: #ffffff1f;
  width: 100%;
  height: 36.0px;
  padding: 9px 12px;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.footer__input-email::placeholder {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
}


.footer__input-btn {
  background-image: url("../IMG/icon/Right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  height: 16px;
  width: 46px;
  padding: 0;
  transition: background-size 0.3s;
}

.footer__input-btn:hover {
  background-size: 130% 130%;
}

.footer__bottom {
  background-color: #ffffff0d;

}

.footer__bottom-inner {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
}

.footer__copyright span {
  background: url("../IMG/icon/Heart.svg") no-repeat center center;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
}

.footer__to-top {
  color: #FFF;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  transition: all .3s;
}

.footer__to-top:hover {
  opacity: 1;
}

/* _________________________________MEDIA_________________________________ */
/* _________________________________MEDIA_________________________________ */
/* _________________________________MEDIA_________________________________ */
/* ============================ WIDTH ===================================== */
/* ============================= 1300 ===================================== */
@media (max-width: 1200px) {
  .company__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 64px);
    gap: 30px 96px;
  }
}

/* ============================= 1200 ===================================== */
@media (max-width: 1200px) {
  .header__content-inner {
    margin-right: 0;
  }

  .header__title {
    font-size: 52px;
    max-width: 400px;
  }

  .header_img {
    max-width: 450px;
  }

  .header__row-list {
    text-wrap: wrap;
  }

  /* ------------------------------------- */
  .about__content {
    width: 550px;
  }

  /* -------------------------- */
  .cert__img-box img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* -------------------------- */
  .program__image {
    display: none;
  }
}

/* ============================ 1100 ==================================== */
@media (max-width: 1100px) {
  .overlay--show {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
  }

  .overlay {
    transition: all .3s;
  }

  .header {
    padding-top: 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #ffffffa6;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 100;
    box-shadow: 0 0 10px 0px #692927;
    padding: 10px;
    transition: all .3s;
  }

  .burger--open {
    box-shadow: 0 0 0 0;
    background-color: transparent;
  }

  .burger span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #000000;
    border-radius: 4px;
    margin: 5px 0;
  }

  .burger::after,
  .burger::before {
    content: "";
    display: block;
    height: 5px;
    width: 30px;
    background-color: #000000;
    border-radius: 4px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: -600px;
    background-color: #ffffffe1;
    height: 100%;
    width: 320px;
    z-index: 50;
    transition: all .3s;
  }

  .header__top--open {
    right: 0;
  }

  .header__top-inner {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;

  }

  .header__nav {
    margin: 0 auto;
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__user-nav {
    flex-direction: column-reverse;
    margin: 10px 0;
  }

  .header__user-btn {
    margin: 40px 0 0 0;
  }

  .button__user-aunt {
    padding: 20px 0;
  }

  .header__nav-item {
    margin: 0;
    text-align: center;
  }

  .header__nav-link {
    display: block;
    padding: 20px 75px;
  }

  .header__logo {
    margin: 0;
    padding: 20px 75px;
  }

  /* ---------------------------------- */
  .main__about {
    padding: 90px 0 160px;
  }

  .heading__title {
    font-size: 35px;
  }

  .about__content {
    width: 430px;
  }

  .about__img {
    width: 400px;
    margin: 0;
  }

  .about__content-buttons {
    width: 430px;
  }

  .about__content-btn {
    margin-right: auto;
  }

  /* ------------------------------- */
  .cert__inner {
    flex-direction: column;
  }

  /* 446.797 */
  .cert__img-box img {
    max-width: 600px;
  }

  .cert__inner {
    display: flex;
    align-items: center;
  }

  .cert__content {
    width: 400px;
    margin: 0 0 20px 0;
  }

  /* -------------------------- */
  .testimonials__slide-text {
    font-size: 16px;
  }

  .testimonials__slide {
    padding: 0 50px;
  }

  /* -------------------------- */
}

/* ============================ 900 ==================================== */
@media (max-width: 900px) {
  .header__content-inner {
    margin: 0 auto;
  }

  .header__title {
    font-size: 45px;
    max-width: 400px;
  }

  .header_img {
    display: none;
  }

  .header__row {
    display: none;
  }

  .header__body-inner {
    height: 100%;
  }

  .header__main {
    margin: 0 0;
    height: 100%;
  }

  .header__content {
    height: 100%;
  }

  /* --------------------------- */
  .about__img {
    display: none;
  }

  .about__createx {
    margin: 0 auto;
  }

  /* --------------------------- */
  .about__numbers {
    justify-content: space-evenly;
    align-self: normal;
  }

  .about__numbers-inner {
    font-size: 16px;

  }

  .about__numbers-inner span {
    font-size: 0 35px;

  }

  /* -------------------------- */
  .main__direction {
    padding: 0 0 150px;
  }

  .direction__filter-btn {
    margin: 0 5px;
  }

  .directions__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: stretch;
    gap: 30px;
  }

  /* -------------------------- */
  .program__acc__head {
    font-size: 17px;
    text-wrap: nowrap;
  }

  /* -------------------------- */
  .main__team {
    padding-bottom: 100px;
  }

  /* ---------------------------- */

  .testimonials__slide-text {
    font-size: 12px;
  }

  .testimonials__slide {
    padding: 0 25px;
  }

  .testimonials__slide-arrow {
    display: none;
  }

  .testimonials__slider {
    margin: 0 15px;

  }

  .slick-list {
    max-width: 600px;
  }

  .main__testimonials {
    padding-bottom: 150px;
  }

  /* -------------------------- */
  .company__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 64px);
    gap: 20px 86px;
  }
}

/* ============================ 600 ==================================== */
@media (max-width: 600px) {

  .header__content-buttons {
    max-width: 380px;
    display: flex;
    flex-direction: column;
  }

  .header__content-btn {
    margin: 15px 0;
    width: 100%;
  }

  /* ----------------------- */
  .about__createx {
    width: 326px;
  }

  .about__content {
    width: 326px;
  }

  .about__content-buttons {
    width: 326px;
    flex-direction: column;
  }

  .about__content-btn {
    margin: 15px 0;
    width: 100%;
  }

  /* ------------------------- */
  .about__values {
    flex-direction: column;
  }

  .about__img-box {
    margin-bottom: 10px;
  }

  /* -------------------------- */
  .direction__filter-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30px);
    gap: 20px;
  }

  .direction__filter-btn {
    margin: 0;
  }

  .directions__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: stretch;
    gap: 30px;
  }

  /* -------------------------- */

  .cert__list-item {
    margin-right: 0;
  }

  .cert__list {
    justify-content: space-between;
  }

  /* -------------------------- */
  .company__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 64px);
    gap: 5px 10px;
  }

  /* --------------------------- */
  .heading__uptitle, .heading__title {
    align-self: center;
  }
  .program__acc__head {
    font-size: 14px;
text-wrap: wrap;
}
.program__acc-text {
    margin-top: 12px;

}

}

/* ============================ 430 ==================================== */
@media (max-width: 430px) {
  .header__top {
    width: 100%;
  }

  /* ------------------- */
  .header__content-inner {
    max-width: 326px;
    /* padding: 22px; */
  }

  /* ------------------- */

  .cert__content {
    width: 325px;
  }

  /* -------------------------- */



}

/* ============================ HEIGHT ===================================== */
/* ============================== 430 ====================================== */
@media (max-height: 500px) {
  .header__nav-link {
    padding: 10px 75px;
  }

  .header__user-nav {
    margin: 0;
  }

  .header__user-btn {
    margin: 10px 0 0 0;
  }

  /* -------------------------- */
}