html,
body {
  color: #424551;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  line-height: 52px;
  padding: 0 40px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.3s;
}
.button:hover {
  transform: scale(1.05);
}
.button--gradient {
  display: inline-block;
  line-height: 52px;
  padding: 0 40px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.button--gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(56deg, #ff3f3a, #f75e05);
  border-radius: 4px;
  padding: 2px;
  box-sizing: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.button--gradient:hover {
  transform: scale(1.05);
}
.heading {
  display: flex;
  flex-direction: column;
}
/* __________________________________________________________________ */
.header {
  background: url("../IMG/decor/decor_1.svg") -50% 50% / cover no-repeat,
    linear-gradient(56deg, rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__body {
  height: 100%;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_top {
}

.header__top-inner {
  display: flex;
  align-content: center;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  margin-right: 60px;
}
.logo {
}
.header__nav {
  margin-right: auto;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-link {
  transition: 0.3s;
}
.header__nav-link:hover {
  color: #ff3f3a;
}
.header__user-nav {
  display: flex;
  align-items: center;
}
.header__user-btn {
  margin-right: 36px;
  margin-left: 15px;
}

.header__user-aunt {
  position: relative;
  padding-left: 28px;
}

.header__user-aunt::before {
  content: "";
  background: url("../IMG/icon/person.svg") no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.button__user-aunt {
  transition: 0.3s;
}
.button__user-aunt:hover {
  color: #ff3f3a;
}
/* __________________________________________________________________ */

.header__body {
}

.header__body-inner {
}
.header__main {
  margin: auto 0;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__content-inner {
  margin-right: 30px;
}
.header__play {
  display: inline-flex;
  align-items: center;
  color: #1e212c;
  line-height: 150%;
  font-size: 14px;
}
.header__svg-play {
  border-radius: 50%;
  margin-right: 16px;
  transition: 0.3s;
}
.header__svg-play:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}
.header__title {
  color: #1e212c;
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  width: 500px;
  margin-bottom: 60px;
  margin-top: 40px;
}
.header__content-buttons {
}
.header__content-btn {
  margin-right: 24px;
}
.header__content-btn:last-child {
  margin-right: 0px;
}

.button {
}
.header_img {
}
.header__row {
  margin-bottom: 80px;
}

.header__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.header__row-list > span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
  margin: 0 15px;
}
.header__row-item {
  display: flex;
  align-items: center;
}
.header__row-item span {
  color: #1e212c;
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-right: 12px;
}
/* _______________________________________________________________ */
.about {
  padding: 180px 0 160px;
}

.about__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 160px;
}

.about__createx {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about__createx::before {
  content: "";
  position: absolute;
  top: -103px;
  right: -631px;
  width: 100px;
  height: 80px;
  background: url("../IMG/decor/about_us1.svg") top right / 100px 80px no-repeat;
}

.about__uptitle {
  color: #1e212c;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.about__title {
  color: #1e212c;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 48px;
}
.about__content {
  width: 600px;
}
.about__text {
  font-weight: 400;
  margin-bottom: 60px;
}
.about__text--accent {
  color: #1e212c;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
}
.about__content-buttons {
  display: flex;
}
.about__content-btn {
  margin-right: 24px;
}
.about__content-btn:last-child {
  margin-right: 0%;
}

.about__img {
  margin-left: 30px;
}

.about__values {
  display: flex;

  justify-content: space-between;
}
.about__img-box {
}

.about__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.about__numbers {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-self: center;
}
.about__numbers-inner {
  display: flex;
  align-items: center;
  color: #1e212c;
  font-size: 18px;
  line-height: 150%;
  margin-left: 30px;
}

.about__numbers-inner > span {
  color: #ff3f3a;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 16px;
}
/* _______________________________________________________________ */
.direction__inner {
  position: relative;
  margin-bottom: 178px;
}
.direction__inner::before {
  content: "";
  position: absolute;
  top: 456px;
  right: -290px;
  width: 243px;
  height: 243px;
  background: url("../IMG/decor/direction_2.svg");
  opacity: 0.2;
}
.direction__inner::after {
  content: "";
  position: absolute;
  top: 41px;
  left: -163.1px;
  width: 136px;
  height: 115px;
  background: url("../IMG/decor/direction_1.svg");
}

.direction__heading {
  margin-bottom: 90px;
}
.heading__uptitle {
  color: #1e212c;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.heading__title {
  color: #1e212c;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 48px;
}
.heading--center {
  justify-content: center;
  align-items: center;
}
.direction__filter-box {
  margin-bottom: 48px;
}
.cldirection__filter-item {
}
.direction__filter-btn {
  font-family: lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-right: 45px;
  color: #9a9ca5;
  background-color: transparent;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  padding: 1px 8px;
  align-items: center;
}
.direction__filter-btn:last-child {
  margin-right: 0;
}
.direction__filter-btn--active {
  border: none;
  color: #fff;
  padding: 2px 8px;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
}
.directions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: stretch;
  gap: 30px;
  /* max-width: 390px; */
}
.directions__list-item {
  display: flex;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  border-top: none;
}
.directions__list-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: 0.3s;
}

.directions__list-item:hover .direction__link-btn {
  color: #ff3f3a;
  transition: 0.3s;
}

.direction__link-content {
  display: flex;
  flex-direction: column;
}

.direction__img-box img {
  height: 100%;
  width: 100%;
}
.direction__link-teg {
  color: #fff;
  align-self: flex-start;
  width: fit-content;
  padding: 1px 8px;
  border-radius: 4px;
  margin: 24px auto 20px 24px;
}
.direction__link-text {
  color: #787a80;
  font-weight: 400;
  margin: 0 24px 24px 24px;
}
.direction__link-btn {
  margin: 0 auto 20px 24px;
  transition: 1s;
}
.direction__link-btn::after {
  content: "";
  background: url("../IMG/icon/Line_to_right.svg") 0 0 / 100% no-repeat;
  width: 18px;
  height: 12px;
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
}
.directions__list-item-empty {
  background-color: #f4f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directions__list-item-empty span {
  color: #424551;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  max-width: 250px;
}
.Marketing .direction__link-teg {
  background-color: #03cea4;
}
.Management .direction__link-teg {
  background-color: #5a87fc;
}
.HR .direction__link-teg {
  background-color: #f89828;
}
.Design .direction__link-teg {
  background-color: #f52f6e;
}
.Development .direction__link-teg {
  background-color: #7772f1;
}
